@media screen and (min-width: 1024px){
    /* #administratorTableContainer > .row > .col .divAdministratorTable{
        min-width: 680px;
    } */
}
@media screen and (min-width: 1152px){
    /* #administratorTableContainer > .row > .col .divAdministratorTable{
        min-width: 770px;
    } */
}
@media screen and (min-width: 1280px){
    /* #administratorTableContainer > .row > .col .divAdministratorTable{
        min-width: 870px;
    }  */
}
@media screen and (min-width: 1360px){
    /* #administratorTableContainer > .row > .col .divAdministratorTable{
        min-width: 950px;
    }    */
}

@media screen and (min-width: 1366px){
    /* #administratorTableContainer > .row > .col .divAdministratorTable{
        min-width: 950px;
    } */
}

@media screen and (min-width: 1440px){
    /* #administratorTableContainer > .row > .col .divAdministratorTable{
        min-width: 1029px;
    } */
}

#dropDownListFilterContainer{
    max-width: 100%;
    padding-right: 35px;
    padding-left: 35px;
    margin-left: auto;
    margin-right: auto; 
}



.dropbtn {
    background-color: transparent;
    color: #222222;
    border: none;
    cursor: pointer;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    text-align: left;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: transparent;
    outline:none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 139px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    left: auto;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .dropdown-contentShow {
    display: grid;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .filterSearch{
    text-align: left;
    padding-left: 0px;
  }

.fildfilter{
  padding-left: 6px;
  vertical-align: top;
}

#myDropdownShortFilter{
    margin-right:16px;
}
#myDropdownShortFilter > option {
  list-style-type: none;
  padding : 10px 20px 5px 10px;
  height: 37px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #000000;
}

#myDropdownShortFilter > option:hover {
  background: #1A6EB2;
  color: #ffffff;
}

#myDropdownShortFilter > option {
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px;
  line-height: 17px;
}

/*for number filter*/

#myDropdownShowNumberFilter > option {
    list-style-type: none;
    padding : 10px 20px 5px 10px;
    height: 37px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0025em;
    color: #000000;
  }
  
  #myDropdownShowNumberFilter > option:hover {
    background: #1A6EB2;
    color: #ffffff;
  }
  
  #myDropdownShowNumberFilter > option {
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px;
    line-height: 17px;
  }
  

#dropDownListFilterContainer > .row > .DropDownListProfileMenu{
  justify-content: flex-end;
  display: flex;
}

#dropDownListFilterContainer > .row > .DropDownListProfileMenu > .searchButtonDropDownList > input[type="text"]:focus {
  width: 250px;
  z-index: 1;
  border-bottom: 1.2px solid #151522;
  cursor: text;
}

#dropDownListFilterContainer > .row > .DropDownListProfileMenu > .searchButtonDropDownList > i{
  z-index: 2;
  cursor: pointer;
  cursor: pointer;
  transition: opacity .4s ease;
}

#dropDownListFilterContainer > .row > .DropDownListProfileMenu > .searchButtonDropDownList > i:hover{
  opacity: 0.4;
}
