#schoolsFormContainer{
    max-width: 100%;
    padding-right: 35px;
    padding-left: 35px;
    margin-left: auto;
    margin-right: auto; 
}

#schoolsFormContainer > .row > .divColbackgroundInput{
    display: flex;
    justify-content: flex-start;
}

#schoolsFormContainer > .row > .buttonDeleteForJumbotronContent{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#schoolsFormContainer > .row > .colButtonSaveCancelJumbotronBanner{
    display: inline-flex;
    margin-top: 40px;
    max-width: 205px;
}

#schoolsFormContainer > .row > .colButtonSaveCancelJumbotronBanner > #buttonAssetSecondary{
    padding-right: 0px;
    padding-left: 0px;
}

#schoolsFormContainer > .row > .colButtonSaveCancelJumbotronBanner > #buttonAsset{
    padding-right: 0px;
    padding-left: 0px;
}

#schoolsFormContainer > .row > .colFromPasswordDefault > div > div > .eyeClassForDefaultPassword > i:hover{
    color: #B5B5B5 !important;
}

#schoolsFormContainer > .row > .colForChangePassword > #buttonAsset{
    justify-content: flex-start;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.buttonDeleteFacilityClass > i {
    pointer-events:none !important;

}